<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.users.mapper.UFansMapper">
    
    <resultMap type="UFans" id="UFansResult">
        <result property="id"    column="id"    />
        <result property="isUsed"    column="isUsed"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remarks"    column="remarks"    />
        <result property="userId"    column="user_id"    />
        <result property="fansUser"    column="fans_user"    />
        <result property="status"    column="status"    />
    </resultMap>

    <sql id="selectUFansVo">
        select id, isUsed, create_time, update_time, remarks, user_id, fans_user, status from u_fans
    </sql>

    <select id="selectUFansList" parameterType="UFans" resultMap="UFansResult">
        <include refid="selectUFansVo"/>
        <where>  
            <if test="isUsed != null "> and isUsed = #{isUsed}</if>
            <if test="remarks != null  and remarks != ''"> and remarks = #{remarks}</if>
            <if test="userId != null "> and user_id = #{userId}</if>
            <if test="fansUser != null "> and fans_user = #{fansUser}</if>
            <if test="status != null "> and status = #{status}</if>
        </where>
    </select>
    
    <select id="selectUFansById" parameterType="Long" resultMap="UFansResult">
        <include refid="selectUFansVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertUFans" parameterType="UFans" useGeneratedKeys="true" keyProperty="id">
        insert into u_fans
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="isUsed != null">isUsed,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="remarks != null">remarks,</if>
            <if test="userId != null">user_id,</if>
            <if test="fansUser != null">fans_user,</if>
            <if test="status != null">status,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="isUsed != null">#{isUsed},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remarks != null">#{remarks},</if>
            <if test="userId != null">#{userId},</if>
            <if test="fansUser != null">#{fansUser},</if>
            <if test="status != null">#{status},</if>
         </trim>
    </insert>

    <update id="updateUFans" parameterType="UFans">
        update u_fans
        <trim prefix="SET" suffixOverrides=",">
            <if test="isUsed != null">isUsed = #{isUsed},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remarks != null">remarks = #{remarks},</if>
            <if test="userId != null">user_id = #{userId},</if>
            <if test="fansUser != null">fans_user = #{fansUser},</if>
            <if test="status != null">status = #{status},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteUFansById" parameterType="Long">
        delete from u_fans where id = #{id}
    </delete>

    <delete id="deleteUFansByIds" parameterType="String">
        delete from u_fans where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>