<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.users.mapper.UQuestionMapper">
    
    <resultMap type="UQuestion" id="UQuestionResult">
        <result property="id"    column="id"    />
        <result property="isUsed"    column="isUsed"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remarks"    column="remarks"    />
        <result property="userId"    column="user_id"    />
        <result property="qType"    column="q_type"    />
        <result property="qContent"    column="q_content"    />
        <result property="email"    column="email"    />
    </resultMap>

    <sql id="selectUQuestionVo">
        select id, isUsed, create_time, update_time, remarks, user_id, q_type, q_content, email from u_question
    </sql>

    <select id="selectUQuestionList" parameterType="UQuestion" resultMap="UQuestionResult">
        <include refid="selectUQuestionVo"/>
        <where>  
            <if test="isUsed != null "> and isUsed = #{isUsed}</if>
            <if test="remarks != null  and remarks != ''"> and remarks = #{remarks}</if>
            <if test="userId != null "> and user_id = #{userId}</if>
            <if test="qType != null "> and q_type = #{qType}</if>
            <if test="qContent != null  and qContent != ''"> and q_content = #{qContent}</if>
            <if test="email != null  and email != ''"> and email = #{email}</if>
        </where>
    </select>
    
    <select id="selectUQuestionById" parameterType="Long" resultMap="UQuestionResult">
        <include refid="selectUQuestionVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertUQuestion" parameterType="UQuestion" useGeneratedKeys="true" keyProperty="id">
        insert into u_question
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="isUsed != null">isUsed,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="remarks != null">remarks,</if>
            <if test="userId != null">user_id,</if>
            <if test="qType != null">q_type,</if>
            <if test="qContent != null">q_content,</if>
            <if test="email != null">email,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="isUsed != null">#{isUsed},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remarks != null">#{remarks},</if>
            <if test="userId != null">#{userId},</if>
            <if test="qType != null">#{qType},</if>
            <if test="qContent != null">#{qContent},</if>
            <if test="email != null">#{email},</if>
         </trim>
    </insert>

    <update id="updateUQuestion" parameterType="UQuestion">
        update u_question
        <trim prefix="SET" suffixOverrides=",">
            <if test="isUsed != null">isUsed = #{isUsed},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remarks != null">remarks = #{remarks},</if>
            <if test="userId != null">user_id = #{userId},</if>
            <if test="qType != null">q_type = #{qType},</if>
            <if test="qContent != null">q_content = #{qContent},</if>
            <if test="email != null">email = #{email},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteUQuestionById" parameterType="Long">
        delete from u_question where id = #{id}
    </delete>

    <delete id="deleteUQuestionByIds" parameterType="String">
        delete from u_question where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>