<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.resources.mapper.CMutedMapper">
    
    <resultMap type="CMuted" id="CMutedResult">
        <result property="id"    column="id"    />
        <result property="isUsed"    column="isUsed"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remarks"    column="remarks"    />
        <result property="userId"    column="user_id"    />
        <result property="mutetime"    column="mutetime"    />
        <result property="endtime"    column="endtime"    />
        <result property="mutehour"    column="mutehour"    />
        <result property="cause"    column="cause"    />
        <result property="mutenumber"    column="mutenumber"    />
    </resultMap>

    <sql id="selectCMutedVo">
        select id, isUsed, create_time, update_time, remarks, user_id, mutetime, endtime, mutehour, cause, mutenumber from c_muted
    </sql>

    <select id="selectCMutedList" parameterType="CMuted" resultMap="CMutedResult">
        <include refid="selectCMutedVo"/>
        <where>  
            <if test="isUsed != null "> and isUsed = #{isUsed}</if>
            <if test="remarks != null  and remarks != ''"> and remarks = #{remarks}</if>
            <if test="userId != null "> and user_id = #{userId}</if>
            <if test="mutetime != null "> and mutetime = #{mutetime}</if>
            <if test="endtime != null "> and endtime = #{endtime}</if>
            <if test="mutehour != null "> and mutehour = #{mutehour}</if>
            <if test="cause != null  and cause != ''"> and cause = #{cause}</if>
            <if test="mutenumber != null "> and mutenumber = #{mutenumber}</if>
        </where>
        order by create_time desc
    </select>
    
    <select id="selectCMutedById" parameterType="Long" resultMap="CMutedResult">
        <include refid="selectCMutedVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertCMuted" parameterType="CMuted" useGeneratedKeys="true" keyProperty="id">
        insert into c_muted
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="isUsed != null">isUsed,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="remarks != null">remarks,</if>
            <if test="userId != null">user_id,</if>
            <if test="mutetime != null">mutetime,</if>
            <if test="endtime != null">endtime,</if>
            <if test="mutehour != null">mutehour,</if>
            <if test="cause != null">cause,</if>
            <if test="mutenumber != null">mutenumber,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="isUsed != null">#{isUsed},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remarks != null">#{remarks},</if>
            <if test="userId != null">#{userId},</if>
            <if test="mutetime != null">#{mutetime},</if>
            <if test="endtime != null">#{endtime},</if>
            <if test="mutehour != null">#{mutehour},</if>
            <if test="cause != null">#{cause},</if>
            <if test="mutenumber != null">#{mutenumber},</if>
         </trim>
    </insert>

    <update id="updateCMuted" parameterType="CMuted">
        update c_muted
        <trim prefix="SET" suffixOverrides=",">
            <if test="isUsed != null">isUsed = #{isUsed},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remarks != null">remarks = #{remarks},</if>
            <if test="userId != null">user_id = #{userId},</if>
            <if test="mutetime != null">mutetime = #{mutetime},</if>
            <if test="endtime != null">endtime = #{endtime},</if>
            <if test="mutehour != null">mutehour = #{mutehour},</if>
            <if test="cause != null">cause = #{cause},</if>
            <if test="mutenumber != null">mutenumber = #{mutenumber},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteCMutedById" parameterType="Long">
        delete from c_muted where id = #{id}
    </delete>

    <delete id="deleteCMutedByIds" parameterType="String">
        delete from c_muted where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>