<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.resources.mapper.ReadEnrollMapper">
    
    <resultMap type="ReadEnroll" id="ReadEnrollResult">
        <result property="id"    column="id"    />
        <result property="isUsed"    column="isUsed"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remarks"    column="remarks"    />
        <result property="userId"    column="user_id"    />
        <result property="name"    column="name"    />
        <result property="province"    column="province"    />
        <result property="city"    column="city"    />
        <result property="area"    column="area"    />
        <result property="school"    column="school"    />
        <result property="classs"    column="classs"    />
        <result property="contact"    column="contact"    />
    </resultMap>

    <sql id="selectReadEnrollVo">
        select id, isUsed, create_time, update_time, remarks, user_id, name, province, city, area, school, classs, contact from read_enroll
    </sql>

    <select id="selectReadEnrollList" parameterType="ReadEnroll" resultMap="ReadEnrollResult">
        <include refid="selectReadEnrollVo"/>
        <where>  
            <if test="isUsed != null "> and isUsed = #{isUsed}</if>
            <if test="remarks != null  and remarks != ''"> and remarks = #{remarks}</if>
            <if test="userId != null "> and user_id = #{userId}</if>
            <if test="name != null  and name != ''"> and name like concat('%', #{name}, '%')</if>
            <if test="province != null  and province != ''"> and province = #{province}</if>
            <if test="city != null  and city != ''"> and city = #{city}</if>
            <if test="area != null  and area != ''"> and area = #{area}</if>
            <if test="school != null  and school != ''"> and school = #{school}</if>
            <if test="classs != null  and classs != ''"> and classs = #{classs}</if>
            <if test="contact != null  and contact != ''"> and contact = #{contact}</if>
        </where>
    </select>
    
    <select id="selectReadEnrollById" parameterType="Long" resultMap="ReadEnrollResult">
        <include refid="selectReadEnrollVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertReadEnroll" parameterType="ReadEnroll" useGeneratedKeys="true" keyProperty="id">
        insert into read_enroll
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="isUsed != null">isUsed,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="remarks != null">remarks,</if>
            <if test="userId != null">user_id,</if>
            <if test="name != null">name,</if>
            <if test="province != null">province,</if>
            <if test="city != null">city,</if>
            <if test="area != null">area,</if>
            <if test="school != null">school,</if>
            <if test="classs != null">classs,</if>
            <if test="contact != null">contact,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="isUsed != null">#{isUsed},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remarks != null">#{remarks},</if>
            <if test="userId != null">#{userId},</if>
            <if test="name != null">#{name},</if>
            <if test="province != null">#{province},</if>
            <if test="city != null">#{city},</if>
            <if test="area != null">#{area},</if>
            <if test="school != null">#{school},</if>
            <if test="classs != null">#{classs},</if>
            <if test="contact != null">#{contact},</if>
         </trim>
    </insert>

    <update id="updateReadEnroll" parameterType="ReadEnroll">
        update read_enroll
        <trim prefix="SET" suffixOverrides=",">
            <if test="isUsed != null">isUsed = #{isUsed},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remarks != null">remarks = #{remarks},</if>
            <if test="userId != null">user_id = #{userId},</if>
            <if test="name != null">name = #{name},</if>
            <if test="province != null">province = #{province},</if>
            <if test="city != null">city = #{city},</if>
            <if test="area != null">area = #{area},</if>
            <if test="school != null">school = #{school},</if>
            <if test="classs != null">classs = #{classs},</if>
            <if test="contact != null">contact = #{contact},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteReadEnrollById" parameterType="Long">
        delete from read_enroll where id = #{id}
    </delete>

    <delete id="deleteReadEnrollByIds" parameterType="String">
        delete from read_enroll where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>