<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.resources.mapper.ReadEssayMapper">
    
    <resultMap type="ReadEssay" id="ReadEssayResult">
        <result property="id"    column="id"    />
        <result property="isUsed"    column="isUsed"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remarks"    column="remarks"    />
        <result property="pid"    column="pid"    />
        <result property="title"    column="title"    />
        <result property="content"    column="content"    />
        <result property="number"    column="number"    />
    </resultMap>

    <sql id="selectReadEssayVo">
        select id, isUsed, create_time, update_time, remarks, pid, title, content, number from read_essay
    </sql>

    <select id="selectReadEssayList" parameterType="ReadEssay" resultMap="ReadEssayResult">
        <include refid="selectReadEssayVo"/>
        <where>  
            <if test="isUsed != null "> and isUsed = #{isUsed}</if>
            <if test="remarks != null  and remarks != ''"> and remarks = #{remarks}</if>
            <if test="pid != null "> and pid = #{pid}</if>
            <if test="title != null  and title != ''"> and title = #{title}</if>
            <if test="content != null  and content != ''"> and content = #{content}</if>
            <if test="number != null "> and number = #{number}</if>
        </where>
    </select>
    
    <select id="selectReadEssayById" parameterType="Long" resultMap="ReadEssayResult">
        <include refid="selectReadEssayVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertReadEssay" parameterType="ReadEssay" useGeneratedKeys="true" keyProperty="id">
        insert into read_essay
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="isUsed != null">isUsed,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="remarks != null">remarks,</if>
            <if test="pid != null">pid,</if>
            <if test="title != null">title,</if>
            <if test="content != null">content,</if>
            <if test="number != null">number,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="isUsed != null">#{isUsed},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remarks != null">#{remarks},</if>
            <if test="pid != null">#{pid},</if>
            <if test="title != null">#{title},</if>
            <if test="content != null">#{content},</if>
            <if test="number != null">#{number},</if>
         </trim>
    </insert>

    <update id="updateReadEssay" parameterType="ReadEssay">
        update read_essay
        <trim prefix="SET" suffixOverrides=",">
            <if test="isUsed != null">isUsed = #{isUsed},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remarks != null">remarks = #{remarks},</if>
            <if test="pid != null">pid = #{pid},</if>
            <if test="title != null">title = #{title},</if>
            <if test="content != null">content = #{content},</if>
            <if test="number != null">number = #{number},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteReadEssayById" parameterType="Long">
        delete from read_essay where id = #{id}
    </delete>

    <delete id="deleteReadEssayByIds" parameterType="String">
        delete from read_essay where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>